{% extends 'base.html' %}

{% block content %}
    <h2>Hire a Finch Collector and Enhance Your Avian Experience</h2>
    <hr>
    <p>Are you an avid bird enthusiast or a business looking to create a captivating avian display? Hiring a skilled finch collector can significantly enhance your bird-related endeavors. A finch collector brings a wealth of knowledge, experience, and dedication to the table, making them an invaluable asset in various scenarios</p>
    <footer>All Rights Reserved, &copy; 2023 Finch Collector</footer>
{% endblock %}